# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="secret"

# Next Auth Google Provider
AUTH_GOOGLE_ID="secret"
AUTH_GOOGLE_SECRET="secret"

# Next Auth Github Provider
AUTH_GITHUB_ID="secret"
AUTH_GITHUB_SECRET="secret"

# Drizzle
DATABASE_USER="postgres"
DATABASE_PASS="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_DB_NAME="test_db"

# S3 Bucket Connection
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="admin"
S3_ACCESS_KEY_SECRET="admin123"
S3_AVATAR_BUCKET_NAME="avatar-bucket" # Public bucket
S3_FILE_BUCKET_NAME="file-bucket"

# Email server
EMAIL_SERVER_USER=username
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_FROM=noreply@example.com
